<style>
body{
	background-color: #da1212;
}
.main_container {
	width: 100% !important;
    float: left;
    padding: 50px 0;
    /*background: linear-gradient(to top right, #3399ff 0%, #ff33cc 100%); */
    background:#e6e6e6;
    height: 625px;
}
.text_input{
    padding: 16px !important;
    height: 40px !important;
    border: 1px solid #e0dede !important;
    margin-bottom: 10px;
    }
.login_btn{
    margin-top: 20px;
    height: 47px;
    border-radius: 6px;
    background: #009fdc !important;
    border: 1px solid #00a4e2 !important;
    padding-bottom: 10px;
    outline: none;
    width: 370px !important;
    color: white !important;
    }
    
.reg_btn{
    float: right;
    width: 30%!important;
    margin-top: 40px!important;
    color:white;
    }
.bg_contanier{
    background: white;
    border: 1px solid #d4d4d4;
    max-width: 450px;
    padding: 30px 38px 30px;
    margin: 0 auto;
    border-radius: 10px;
    height: 460px;
    }
     .btn-block {
    display: block;
    width: 21%;
    margin-top: 20px;
    float: right;
    background: none;
    text-decoration: underline;
    color: blue;
}
</style>